# This file defines a GitHub Actions workflow that runs autograding when a student pushes to their repository.
# For details about tests and points, see the autograding.json file in the .github/classroom/ directory.

name: GitHub Classroom Workflow

on:
  - push
  - workflow_dispatch

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Install Java 17. See https://github.com/education/autograding/issues/18
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # Make sure compilation succeeds before attempting to run autograding
      - name: Compile source code
        run: ./gradlew compileJava compileTestJava

      # Run autograding
      - uses: education/autograding@v1

        # Only run autograding when a student pushes to their repository
        if: github.actor != 'github-classroom[bot]' && github.repository_owner != 'ohjelmointi2'
